.img {
    width: 50%;
    height: 60%;
    border-radius: 5%;
    margin: 10px;
    justify-content: center;

}

.div {
    width: 50%;
    height: 60%;
    background-color: rgb(133, 168, 237);
    border-radius: 5%;
    margin: 10px;
    align-items: center;
}

.title {
    font-size: 25pt;
    color: rgb(237, 227, 227);
    font-weight: 500;
}
